{
    "version": 1,
    "storageDriverName": "{{trident_storage_driver_name}}",
    "managementLIF": "{{trident_cluster_management_ip}}",
    "dataLIF": "{{trident_svm_ip}}",
    "svm": "{{trident_svm_name}}",
    "username": "{{trident_cluster_user}}",
    "password": "{{trident_cluster_password}}",
    {% if trident_nfs_server is defined and trident_nfs_server == True %}
"nfsMountOptions": "{{trident_nfs_mount_options}}",
    {% endif %}
"defaults": {
      "size": "{{trident_size}}",
      "spaceReserve": "none",
      "exportPolicy": "{{trident_default_export_policy}}"
    }
}
