{
    "version": 1,
    "storageDriverName": "{{trident_storageDriverName}}",
    "managementLIF": "{{trident_managementLIF}}",
    "dataLIF": "{{trident_dataLIF}}",
    "svm": "{{trident_svm}}",
    "username": "{{trident_username}}",
    "password": "{{trident_password}}",
{% if trident_nfsMountOptions is defined %}
    "nfsMountOptions": "{{trident_nfsMountOptions}}",
{% endif %}
    "defaults": {
        "size": "{{trident_default_size}}",
        "exportPolicy": "{{trident_default_export_policy}}"
    }
}
